.span-color{
	background: #CCCCCC;
}
#menu{  
    margin: auto;    
    text-align: center;
}
.m, a{    
    color: #FFF; 
    font-weight: bold; 
    margin-bottom: 2px;
    margin-top: 2px;
}
.eti {
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 200%;
    font-weight: bolder;  
    margin-bottom: 3%;
    border-radius: 12px;
}
.lol {
    background-color: #4DB2C6;
    border-radius: 20px;
    margin-bottom: 2%;
    margin-top: 3%;
    padding-bottom: 2%;
    padding-top: 2%;     
}
.campo {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;    
}
.tama {
    width: 30px;
    text-align: center;
    background-color: #65B457;
    color: #FFF;
    padding-top: 2px;
    padding-bottom: 2px; 
    border-radius: 3px;    
}
.tama2 {
    width: 30px;
    text-align: center;
    background-color: #D8A91A;
    color: #FFF;
    padding-top: 2px;
    padding-bottom: 2px; 
    border-radius: 3px;    
}
.info {
    width: 100%;
}
.fondo {
    background-color: #4DB2C6;
}
.edit {
    text-align: center;
    margin-top: 10%;
    color: #FFF;
}
.blanco {
    color: #FFF;
}
/*spoiler*/

input[id^="spoiler"]{
 display: none;
}
input[id^="spoiler"] + label {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 5px 20px;
  background: #4DB2C6;
  color: #fff;
  text-align: center;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all .6s;
}
input[id^="spoiler"]:checked + label {
  color: #333;
  background: #ccc;
}
input[id^="spoiler"] ~ .spoiler {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 10px auto 0; 
  padding: 10px; 
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all .6s;
}
input[id^="spoiler"]:checked + label + .spoiler{
  height: auto;
  opacity: 1;
  padding: 10px;
}