html, body{
  font-family: 'Montserrat', Arial, serif; 
}

.header{
  margin: 40px;
  text-align: center;
}

.main{
  margin-top: 40px;
  text-align: center;
}
.heading{
	text-align: center;
}
h4{
	border-bottom: 2px solid #f0f0f0;
}

form{
	text-align: center;
}
form p{
	border: none;
	font-size: 20px;
	padding: 35px 5px 5px 5px;
	width: auto;
	margin: 0 0 0;
}

form input{
	background: #f0f0f0;
	height: 30px;
	border: none;
	border-left: 2px solid #fff;
	font-size: 20px;
	padding: 20px;
	transition: background 1s, border-left 1s ;
}

form input:focus{
	background: #fff;
	border-left: 2px solid #00f28f;
	outline: none;
	box-shadow: none;
}

.ingreso{
	margin-top: 20px;
	list-style: none;
	padding-left: 0px;
}

button.btn{
	background: transparent;
	border: none;
	width: 280px;
	/*cursor: pointer;*/
	color: #00f28f;
	font-size: 20px;
	transition: background 1s, color 1s ;
	margin-bottom: 50px;
}

button.btn:hover{
	background: #00f28f;
	color: #fff;
}